fastapi
uvicorn
joblib
spacy
scikit-learn
sentence-transformers
pymupdf
python-multipart
langchain
langchain-community
groq
python-dotenv
pypdf
faiss-cpu
tiktoken
requests
langchain-groq
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
